BASE_URL=http://localhost/
DEFAULT_CONTROLLER=Main
ERROR_CONTROLLER=Errors
ACTIVATE_HOOKS=false
ACTIVATE_LOGS=false
LOG_PATH=logs/
CHARSET=UTF-8

MYSQL_PORT=3306
DB_HOST=127.0.0.1
DB_NAME=database_name
DB_USERNAME=database_user
DB_PASSWORD=database_password
